body{
    background-color: lavender;
    margin: 0;
}

div{
    overflow: hidden;
    padding:  5px 0;
}

div.row{
    padding:  5px 0;
}

div#search-container{
    background-color: indigo;
}

.modal{
    /* background-color: teal; */
}

input,button{
    height: 30px;
}

button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

img{
    max-width: 100%;
}

img.posters{
    max-width: 100%;
    height: 280px;
    border: 2px solid gold;
    box-shadow: 1px 1px 15px 5px #333;
}

p.overview{
    margin-top: 10px;
}